html 
    head
        title Ticket Buddy - Admin 
    body 
        h1 Admin
        form(action="/signout", method="post")
            input(type="submit", value="signout")
        p=message
        h2 Create User
        table(id="createUsers", name="createUsers")
            tr
                td
                    form(action='/createUser?thisuser="+userid', Method='post') 
                        label(for='name') name:
                        input(type='text', name='name', id='name')
                        label(for='pass') pass:
                        input(type='text', name='pass', id='pass')
                        p permissions: 
                        label(for='0') None:
                        input(type='radio', id='0', name='perms', value='0')
                        br
                        label(for='1') Technician:
                        input(type='radio', id='1', name='perms', value='1')
                        br
                        label(for='2') Admin:
                        input(type='radio', id='2', name='perms', value='2')
                        br
                        input(type='submit')
        h2 Edit or Delete Users 
        table(id="editUsers", name="editUsers")         
            tr
                th ID 
                th Name 
                th Pass
                th Permissions 
                th Actions
            - for (var i=0; i<userList.length; i++) {
                form(action='/editUser?id='+userList[i].userID+"&thisuser="+userid, method='post')
                    tr 
                        td
                            input(type='text', value=userList[i].userID, disabled, id='userID', name='userID')
                        td
                            input(type='text', value=userList[i].name, id='userName', name='userName')
                        td
                            input(type='text', value=userList[i].pass, id='userPass', name='userPass')
                        td
                            input(type='text', value=userList[i].permissions, id='userPermissions', name='userPermissions')
                        td
                            input(type='submit', id='change', name='change', value='change')
                            input(type='submit', id='delete', name='delete', value='delete')
            - }
        h2 View or Delete Tickets 
        table(id="editTickets", name="editTickets")
            tr 
                th ID 
                th Name
                th Description
                th Creator 
                th Assigned Tech
                th Status
            - for (var i=0; i<ticketList.length; i++) {
                form(action='/editTicket?id='+ticketList[i].ticketID+"&thisuser="+userid, method='post')
                    tr
                        td
                            input(type='text', value=ticketList[i].ticketID, disabled, id='ticketID', name='ticketID')
                        td 
                            input(type='text', value=ticketList[i].name, disabled, id='ticketName', name='ticketName')
                        td 
                            input(type='text', value=ticketList[i].description, disabled, id='ticketDesc', name='ticketDesc')
                        td 
                            input(type='text', value=ticketList[i].creator, disabled, id='ticketCreator', name='ticketCreator')
                        td 
                            - if (ticketList[i].tech) {
                                input(type='text', value=ticketList[i].tech, disable, id='ticketTech', name='ticketTech')
                            - } else {
                                input(type='text', value="", disable, id='ticketTech', name='ticketTech')
                            - }
                        - if (ticketList[i].status == 0) {
                            td unclaimed
                        - } else if (ticketList[i].status == 1) {
                            td in progress
                        - } else if (ticketList[i].status == 2) {
                            td closed
                        - } else {
                            td error
                        - }
            - }